<ion-view title="Settings">
  <ion-content class="has-header">
      <div class="list">
          <label class="item item-input item-stacked-label">
              <i class="icon ion-ios7-calendar-outline placeholder-icon"></i>
              <span class="input-label">Due Date</span>
              <input id="dueDate" type="text" placeholder="When is your due date?" ng-click="pickDate()" readonly/>
          </label>
          <label class="item item-input item-stacked-label">
              <i class="icon ion-ios7-heart-outline placeholder-icon"></i>
              <span class="input-label">Baby Name</span>
              <input id="babyName" type="text" maxlength="10" placeholder="Will show on the kick button" ng-change="saveBabyName()" ng-model="babyName"/>
          </label>
          <label class="item item-input item-select">
              <i class="icon ion-ios7-browsers-outline placeholder-icon"></i>
              <div class="input-label">Theme</div>
              <select id="myTheme" ng-change="onThemeChange()" ng-model="myTheme" ng-options="theme.label for theme in themes"></select>
          </label>
      </div>
  </ion-content>
</ion-view>