<ion-view title="Records">
    <!--<ion-nav-buttons side="right">-->
    <!--<a class="button button-icon icon ion-ios7-refresh-outline" ng-click="refresh()"></a>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="record in records" type="item-text-wrap" href="#/tab/record/{{record.id}}" ng-class="'my-item-'+currentSelectedTheme">
                {{record.id}} &nbsp;
                <span class="badge badge-{{currentSelectedTheme}}">{{record.kickCount}} / {{record.actualKicks}}</span>
            </ion-item>
        </ion-list>

        <div class="card" ng-show="records.length === 0">
            <div class="item item-text-wrap {{currentSelectedTheme}}">
                You haven't got any kick records to show. Just press the circle button 'KICK +1' on the counter tab.
            </div>
        </div>
    </ion-content>
</ion-view>