.round-button {
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-radius: 50%;
    /*color: #ef4e3a;*/
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 24px;
}

.single-line-on-round-buton {
    line-height: 200px;
}
.with-baby-name-on-round-button {
    padding-top: 55px;
}

#dueDate, #babyName {
    background-color: #fff;
    font-weight: bold;
}


