.round-button {
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-radius: 50%;
    /*color: #ef4e3a;*/
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 24px;
}

.single-line-on-round-buton {
    line-height: 200px;
}
.with-baby-name-on-round-button {
    padding-top: 55px;
}

#dueDate, #babyName {
    background-color: #fff;
    font-weight: bold;
}

/* loading */
.loader-center {
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f2f2f2;
    opacity: 0.5;
}


